body, html {
  padding: 0;
  margin: 0;
  height: 100%;
} 

@font-face {
  font-family: int;
  src: url(./fonts/Inter/static/Inter-Regular.ttf);
}

body {
  font-family: int;
}


.lightbg {
  background-color: white;
}

.lightpattern {
  background-color: hsl(225, 100%, 98%);
  height: 30vh;
}

.darkbg {
  background-color: hsl(230, 17%, 14%);
}

.darkpattern {
  background-color: hsl(232, 19%, 15%);
  height: 30vh;
}

.darktxt {
  color: white;
}

.container-wrapper {
  min-height: 950px;
  display: flex;
  flex-direction: column;
}

.container-wrappermob {
  min-height: 2500px;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.darkbg .facecard:hover, 
.darkbg .twitcard:hover, 
.darkbg .instacard:hover, 
.darkbg .tubecard:hover {
  background-color: hsl(232, 19%, 35%);
}

.facecardlight:hover,
.twitcardlight:hover,
.instacardlight:hover,
.tubecardlight:hover {
  background-color: hsl(232, 19%, 90%); /* Lighter color when hovering in light mode */
}

.darkbg .normcard:hover{
  background-color: hsl(232, 19%, 35%)
}

.normcardlight:hover{
  background-color: hsl(232, 19%, 90%);
}

.darkbg .slider:hover ~ .darkswitch {
  color: white;
}

.darkswitch {
  color: hsl(228, 34%, 66%);
  font-weight: 700;
}

.lightswitch {
  color: white;
  font-weight: 700;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 31px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, hsl(210, 78%, 56%),  hsl(146, 68%, 55%));
  -webkit-transition: .4s;
  transition: .4s;
}

.lightbg .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #e5e7eb,  #e5e7eb);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:hover{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, hsl(210, 78%, 56%),  hsl(146, 68%, 55%));
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 4px;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.slider.round:before {
  border-radius: 50%;
}

.lightbg .slider:before {
  background-color: white; 
}

.slider:before {
  background-color: black;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(31px);
  -ms-transform: translateX(31px);
  transform: translateX(31px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.fw1{
  font-weight: 700;
  font-size: 28px;
}

.overnum{
  font-size: 32px;
  font-weight: 700;
}

.fw2{
  font-weight: 700;
  color: hsl(228, 34%, 66%);
  font-size: 16px;
}

.subtxt{
  color: hsl(228, 34%, 66%);
}

.rowpad{
  margin-left: 120px;
  margin-right: 120px;
}

.svg-container {
  display: flex;
  justify-content: end;
  align-items: end;
}

.svg-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-container3 {
  display: flex;
  justify-content: start;
  align-items: center;
}


.attxt{
  font-size: 12px;
  font-family: int;
}

.facecard{
  border-top: 4px solid hsl(208, 92%, 53%);
  background-color: hsl(228, 28%, 20%);
  width: 100%;
  border-radius: 6px;
}

.facecardlight{
  border-top: 4px solid hsl(208, 92%, 53%);
  background-color: hsl(227, 47%, 96%);
  width: 100%;
  border-radius: 6px;
}

.twitcard{
  border-top: 4px solid hsl(203, 89%, 53%);
  background-color: hsl(228, 28%, 20%);
  width: 100%;
  border-radius: 6px;
}

.twitcardlight{
  border-top: 4px solid hsl(203, 89%, 53%);
  background-color: hsl(227, 47%, 96%);
  width: 100%;
  border-radius: 6px;
}

.instacard {
  position: relative;
  width: 100%;
  border-radius: 6px;
  background-color: hsl(228, 28%, 20%);
}

.instacardlight{
  position: relative;
  width: 100%;
  border-radius: 6px;
  background-color: hsl(227, 47%, 96%);
}

.instacard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.instacardlight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.tubecard{
  border-top: 4px solid hsl(348, 97%, 39%);
  background-color: hsl(228, 28%, 20%);
  width: 100%;
  border-radius: 6px;

}

.normcard{
  background-color: hsl(228, 28%, 20%);
  width: 100%;
  border-radius: 6px;
}

.normcardlight{
  background-color: hsl(227, 47%, 96%);
  width: 100%;
  border-radius: 6px;
}

.tubecardlight{
  border-top: 4px solid hsl(348, 97%, 39%);
  background-color: hsl(227, 47%, 96%);
  width: 100%;
  border-radius: 6px;
}

.instapad{
  padding-top: 0.78rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

.sidepad{
  padding-left: 120px;
  padding-right: 120px;
}

.gap{
  gap: 20px;
}

.cardwid{
  width: 200px;
}

.margincard1{
  padding-left: 120px !important;
  padding-right: 120px !important;
}

.margincard2{
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.bignum{
  font-size: 60px;
  font-weight: 700;
}

.track{
  letter-spacing: 0.3em;
}

.tlv{
  font-size: 12px;
  font-weight: 700;
}

.green{
  color: hsl(163, 72%, 41%);
}

.red{
  color: hsl(356, 69%, 56%);
}

.fonth{
  height: 80px;
}

/* 
FAILED MEDIA QUEREY CAUSE IMPORTANT SCREWED ME
@media (max-width: 576px) {
  .margincard1 {
      margin: 0 !important;
  }
} */

.overtxt{
  font-size: 14px;
  font-weight: 700;
  color: hsl(228, 34%, 66%);
}